.GradesNav-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.GradesNav-link {
  text-decoration: none;
}

.GradesNav-button {
  width: 200px;
  height: 40px;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  line-height: 1.66;
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.GradesNav-button:hover {
  background: #333;
}

.GradesNav-button-active {
  background: #232323;
  border: 1px solid white;
  border-radius: 10px;
}